.gradient_combo{
  position: relative;
  padding: 16px 36px;
  background: #0f172a;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;

  background-image: linear-gradient(#0f172a,#0f172a),
    linear-gradient(90deg,red,orange,yellow,green,cyan,blue,violet,red);

  background-origin: border-box;
  background-clip: padding-box, border-box;
  animation: borderMove 6s linear infinite;
}

.gradient_combo{
  color: transparent;
  background-clip: text, border-box;
  -webkit-background-clip: text, border-box;
  -webkit-text-fill-color: transparent;
}

@keyframes borderMove{
  to{ background-position: 400%; }
}