.pulse_btn{
  padding: 16px 36px;
  border: none;
  border-radius: 12px;
  background: #00f7ff;
  color: black;
  font-weight: bold;
  animation: pulse 1.5s infinite;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.pulse_btn:hover{
    transform: scale(1.03);
}

@keyframes pulse{
  0%{ box-shadow: 0 0 0 0 #00f7ff; }
  70%{ box-shadow: 0 0 30px 20px transparent; }
  100%{ box-shadow: 0 0 0 0 transparent; }
}